body {
    font-family: 'Tangerine', cursive;
    margin: 0;
    box-sizing: border-box;

    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(217, 31, 69, 1) 100%);

}

/* 
====================
   GENERAL SECTION
====================
 */

img {
    max-width: 100vw;
    /* width: 100%; */
    object-fit: cover;
    display: inline-block;
    border-radius: 10px;
    transition: 2s transform;
    transform: scale(1);
}

img:hover,
img:focus {
    transform: scale(1.1);
}


/* main {
    display: flex;
    flex-direction: column;
} */

.green {
    margin: 1em auto;
    /* background-color: blue; */

}

/* 
======================
    BODY SECTION
======================
 */

.label {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    margin-bottom: -10em;
    /* background-color: white; */
}

.label div {
    background-image: linear-gradient(to left, orangered, orange);
    width: 200px;
    text-align: center;
    padding: .5rem 1rem;
    margin: 2rem .5rem;
    transform: scale(1);
    transition: .5s transform;
    font-weight: 700;
    font-size: 1rem;
}

.label div:hover,
.label div:focus {
    transform: scale(1.2);
}

.tacos {
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    margin: 10PX;
    width: 1700xx;
    /* margin: 10px; */
    margin-top: 0;
    /* background-color: white; */
}



.big-tacos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: black; */
    width: 80%;
    align-items: center;

}

.big-tacos img {
    width: 350px;
    height: 70%;
    object-fit: cover;
    box-shadow: 5px 5px 10px black;
}

.small-tacos {
    order: -1;
    display: flex;
    flex-direction: column;
    width: 25%;
    /* background-color: white; */
    /* margin: 10px; */
}

h2 {
    margin-top: 10em;
    margin-left: 2rem;
    color: whitesmoke;
    text-shadow: 2px 2px 3px black;
    /* transition: 10s transform; */
    /* transform: translateX(100%); */
    /* animation: 1s move infinite; */
    animation: 30s move ease infinite;
    font-size: 1.5rem;

}

strong {
    font-family: 'Work Sans', sans-serif;
    color: red;
    font-size: 2rem;
}


/* h2:hover,
h2:focus {
    transform: translateX(100%);
    transform: translateX(-100%)
} */


@keyframes move {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}



.small-tacos img {
    margin: 5PX;
    width: 80%;
    margin: 10px;
    height: 80%;
    object-fit: cover;
    box-shadow: 5px 5px 10px black;
}

.last-taco-image {
    margin-right: 30px;
}

.burritos {
    width: 95%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.burritos img {
    box-shadow: 5px 5px 10px black;
}

.burger {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.burger img {
    box-shadow: 5px 5px 10px black;
}

.pizza {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
}

.pizza img {
    box-shadow: 5px 5px 10px black;
    margin: 10px;
}

.fries {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95%;
}

.fries img {
    box-shadow: 5px 5px 10px black;
    margin: 10px;
    width: 400px;
}


.salad {
    display: flex;
    justify-content: space-around;
    width: 95%;
    flex-wrap: wrap;

}

.salad img {
    margin: 10px;
    box-shadow: 5px 5px 10px black;
}

footer {
    background-image: linear-gradient(230deg, gray, brown, pink);
    color: white;
    font-size: 1.5rem;
    padding: 2rem 3rem;
    text-align: center;
}

footer p {
    text-shadow: 2px 1px 3px black;
}

@media(max-width: 500px) {
    .label {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tacos {
        flex-direction: column;
        align-items: center;
    }

    .tacos img {
        margin: 10px;
    }

    .burger {
        width: 100%;
        margin: 2rem auto;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .burger img {
        width: 400px;
        margin: 10px;
    }

    .burritos {

        margin: 2rem auto;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .burritos img {
        width: 400px;
        margin: 10px;
    }


}